@model MyBank.Web.Data.Client

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Vytvoření klienta</h1>
    <form asp-action="AddClient">
        <input value="" type="text" asp-for="Name" placeholder="Jméno a Příjmení"/>
        <input value="" type="number" asp-for="BankCode" placeholder="Číslo banky"/>
        <button type="submit">Potvrdit</button>
    </form>
</div>
