@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 style="margin-bottom: 25px">Admin panel</h1>
    <a href="/Home/AddClient">Přidat klienta</a>
    <a href="/Home/DeleteClient">Zrušit klienta</a>
    <a href="/Home/CreateCard">Vytvořit kartu</a>
    <a href="/Home/DeleteCard">Zrušit kartu</a>
</div>
